@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    --complementary: #d9d9d9;
    --IA: #ffb670;
    --IB: #cf84e9;
    --II: #f7f898;
    --IIIA: #f68fa2;
    --IIIB: #e0ccb5;
    display: block;
}

body {
    font-size: 200%;
}
main,
footer,
header {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
}

section > div {
    display: flex;
    flex-direction: row;
}

h5 {
    color: var(--complementary);
    filter: brightness(70%);
}

header > a {
    color: var(--eth);
}

header {
    text-align: center;
    width: 100%;
    justify-items: center;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 222.5%;
    margin: 0.1em;
}

/* navigation stuff */
.hamburger {
    position: absolute;
    top: 4rem;
    right: 10rem;
    padding: 0.5rem 1rem;
    background-color: var(--complementary);
    border: none;
    border-radius: 15px;
    font-size: 250%;
    z-index: 1000;
}

.back {
    right: auto;
    left: 10rem;
}

nav {
    font-size: 222.2%;
    display: none;
    background-color: var(--complementary);
    border-radius: 15px;
    padding: 3rem 3rem 1rem 1rem;
    position: absolute;
    flex-direction: column;
    right: 10rem;
    top: 4rem;
    z-index: 999;
}

nav > a {
    position: relative;
    background-color: var(--complementary);
    border: none;
    padding: 0.1em 1em;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}

/* footer stuff */
.copy {
    background-color: #676767;
    color: white;
    padding: 1em 10em;
    font-size: 80%;
}

.sponsors {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 5em;
    padding: 0 10vw;
    
}

footer > hr {
    margin: 3em 10em;
}

.sponsors > img {
    display: block;
    margin: auto;
    width: 100%;
}

.wof-bg {
    opacity: 0.7;
}


/* media queries */
@media screen and (min-width: 1000px) {
    main,
    footer,
    header {
        font-size: 200%;
        padding: 0 10vw 0 10vw;
    }
    body {
        font-size: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .hamburger {
        font-size: 5vw;
        max-width: max-content;
        right: 2rem;
        top: 1rem
    }
    .back {
        right: auto;
        left: 2rem;
    }


    .sponsors {
        flex-direction: column;
    }
    nav {
        font-size: 150%;
        right: 2rem;
        top: 1rem;
    }
    section > div {
        display: flex;
        flex-direction: column;
    }
}

footer {
    padding: 0 0 0 0;
}