@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    --complementary: #d9d9d9;
    --IA: #ffb670;
    --IB: #cf84e9;
    --II: #f7f898;
    --IIIA: #f68fa2;
    --IIIB: #e0ccb5;
}

.hamburger {
    position: absolute;
    top: 1em;
    right: 4em;
    padding: 0.1em 0.33em;
    background-color: var(--complementary);
    border: none;
    border-radius: 15px;
    font-size: 250%;

}

main {
    display: flex;
    flex-direction: column;
}

.landing {
    display: grid;
    grid-template-areas: "map"
                         "text";
    align-items: center;
    padding: 0 1em 0 1em;
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 3vw;
    }
    map {
        max-width: 100vw;
    }
    .text-besides-the-map > h1 {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    .hamburger {
        font-size: 5vw;
        max-width: max-content;
        right: 1em;
    }
}

@media screen and (min-width: 800px) {
    .main {
        font-size: 200%;
    }
    .landing {
        font-size: 0.8vw;
        padding: 0 10vw 0 10vw;
        gap: 5em;
        grid-template-areas: "map text";
    }
    .village-list {
        justify-content: center;
    }
}

.map {
    min-width: 38vw;
    grid-area: map;
    aspect-ratio: 1/1;
}

.map > img{
    width: 100%;
    height: 100%;
}


.text-besides-the-map {
    grid-area: text;
    font-size: 200%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 222.5%;
    margin-bottom: 0.1em;
}

.text-besides-the-map > a {
    position: relative;
    background-color: var(--complementary);
    border: none;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}

.village-list-container {
    padding: 5em 0 5em 0;
}

.village-list {
    overflow: scroll;
    display: flex;
}

.village-list > div {
    padding: 0.3em 5em 0.3em 5em;
    overflow-x: scroll;
}

.IA {
    border-radius: 5em 0 0 5em;
    background-color: var(--IA);
}
.IIIB { 
    border-radius: 0 5em 5em 0;
    background-color: var(--IIIB); 
}

.IB { background-color: var(--IB); }
.II { background-color: var(--II); }
.IIIA { background-color: var(--IIIA); }