@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    --complementary: #d9d9d9;
    --IA: #ffb670;
    --IB: #cf84e9;
    --II: #f7f898;
    --IIIA: #f68fa2;
    --IIIB: #e0ccb5;
    display: block;
}

.hamburger {
    position: absolute;
    top: 4rem;
    right: 10rem;
    padding: 0.5rem 1rem;
    background-color: var(--complementary);
    border: none;
    border-radius: 15px;
    font-size: 250%;
    z-index: 1000;
/*    filter: drop-shadow(0 0 2px var(--complementary)); */
}

main,
footer {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
}

.landing {
    display: grid;
    grid-template-areas: "map"
                         "text";
    align-items: center;
    padding: 0 1em 0 1em;
}


@media screen and (min-width: 1000px) {
    main,
    footer {
        font-size: 200%;
        padding: 0 10vw 0 10vw;
    }
    .landing {
        font-size: 0.8vw;
        gap: 5em;
        grid-template-areas: "map text";
    }
    .text-besides-the-map {
        max-width: 18em;
    }
}

.map {
    grid-area: map;
    aspect-ratio: 1/1;
    margin-top:1rem
}

.map > svg{
    width: 100%;
    height: 100%;
}


.text-besides-the-map {
    grid-area: text;
    font-size: 200%;
    text-align: justify;
    justify-items: center;
}

.text-besides-the-map > a {
    position: relative;
}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 222.5%;
    margin-bottom: 0.1em;
}

a {
    position: relative;
    background-color: var(--complementary);
    border: none;
    padding: 0.1em 1em;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}

.copy {
    background-color: #676767;
    color: white;
    padding: 1em 10em;
    font-size: 80%;
}

.sponsors {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 5em;
    padding: 0 10vw;
    
}

nav {
    font-size: 222.2%;
    display: none;
    background-color: var(--complementary);
    border-radius: 15px;
    padding: 3rem 3rem 1rem 1rem;
    position: absolute;
    flex-direction: column;
    right: 10rem;
    top: 4rem;
}

hr {
    margin: 3em 10em;
}

.sponsors > img {
    display: block;
    margin: auto;
    width: 100%;
}

.wof-bg {
    opacity: 0.7;
}

#zoom_div_container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color-mix(in srgb, var(--complementary), transparent 20%);
    margin: 3rem 9rem;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    /* display: none; */
    display: flex;
    flex-direction: column;
    display: none;
}

#zoom_div_container  h2 {
    font-size: 250%;
    padding: 0.5rem;
    margin: 1rem 10rem;
    border-radius: 5rem;
    text-align: center;
    max-height: 100%;

    background-color: var(--IA);
    flex: 0;


}

#zoom {
    max-height: calc(100% - 1rem - 9em); /* please if you are seeing this fix it... I don't have the brains needed */
    display: flex;
    flex-direction: row;
    background-color: var(--complementary);
    border-radius: 15px;
    margin: 2rem
}

#zoom_svg {
    margin: 1em;
    justify-self: baseline;
    aspect-ratio: 1/1;
    width: 50%;
    flex: none;
}

#zoom_names {
    flex: 1;
    padding-left: 1rem;
    overflow-y: auto;
    font-size: 150%;
}

#zoom_div_container .hamburger {
    right: 1rem;
    top: 1rem;
}

@media screen and (max-width: 1000px) {
    .map {
        max-width: 100vw;
    }
    .text-besides-the-map > h1 {
        text-align: center;
        font-size: 100%;
    }
    h1 {
        text-align: center;
    }
    .hamburger {
        font-size: 5vw;
        max-width: max-content;
        right: 2rem;
        top: 1rem
    }
    .sponsors {
        flex-direction: column;
    }
    nav {
        font-size: 150%;
        right: 2rem;
        top: 1rem;
    }

    #zoom_div_container {
        margin: 1rem;
    }

    #zoom_svg {
        height: 50%;
        width: auto;
    }
    
    #zoom {
        flex-direction: column;
    }
}

footer {
    padding: 0 0 0 0;
}
