@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    --complementary: #d9d9d9;
    --IA: #ffb670;
    --IB: #cf84e9;
    --II: #f7f898;
    --IIIA: #f68fa2;
    --IIIB: #e0ccb5;
    display: block;
}

body {
    font-size: 5vw;
}

main,
footer,
header {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
}

/* COMMON TYPO */
a {
    position: relative;
    background-color: var(--complementary);
    border: none;
    padding: 0.1em 1em;
    border-radius: 15px;
    text-decoration: none;
    color: black;

}

h1 {
    font-weight: 700;
    font-style: bold;
    font-size: 222.5%;
    margin-bottom: 0.1em;
}

hr {
    margin: 3rem 10rem;
}

/* HEADER */
header a {
    color: var(--eth);
    background-color: transparent;
}

header {
    text-align: center;
    width: 100%;
    justify-items: center;
}

header h5 {
    color: var(--complementary);
    filter: brightness(70%);
}

/* NAVIGATION */
.hamburger {
    position: absolute;
    top: 4rem;
    right: 13vw;
    padding: 0.5rem 1rem;
    background-color: var(--complementary);
    border: none;
    border-radius: 15px;
    font-size: 250%;
    z-index: 1000;
}

.back {
    right: auto;
    left: 13vw;
    border-radius: 50%;
    z-index: 980;
}

nav {
    font-size: 222.2%;
    display: none;
    background-color: var(--complementary);
    border-radius: 15px;
    padding: 3rem 3rem 1.5rem 1rem;
    position: absolute;
    flex-direction: column;
    right: 13vw;
    top: 4rem;
    z-index: 990;
}

/* FOOTER */
.copy {
    background-color: #676767;
    color: white;
    padding: 1rem 10rem;
    padding-bottom: 3rem;
    font-size: 80%;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
    padding: 0 5rem;
    
}

footer > hr {
    margin: 3rem 10rem;
}

.sponsors > img {
    display: block;
    margin: auto;
    width: 100%;
}

.wof-bg {
    opacity: 0.7;
}


/* media queries */
@media screen and (min-width: 1000px) {
    main,
    footer,
    header {
        font-size: 200%;
        padding: 0 10vw 0 10vw;
    }
    body {
        font-size: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .hamburger {
        font-size: 5vw;
        max-width: max-content;
        right: 2rem;
        top: 2rem
    }
    .back {
        right: auto;
        left: 2rem;
    }

    h1 {
        text-align: center;
    }

    .sponsors {
        flex-direction: column;
    }
    nav {
        font-size: 150%;
        right: 2rem;
        top: 2rem;
    }
    section > div {
        display: flex;
        flex-direction: column;
    }
    .copy {
        padding: 1rem 1rem;
    }
}

footer {
    padding: 0 0 0 0;
}

/* gallery */
#gallery_nav_bar {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 2rem 0;
}

.gallery_nav_button {
    margin-right: 1rem;
    height: fit-content;
    width: fit-content;
    padding: 0.7rem;
    border-radius: 15px;
    background-color: var(--complementary);
    border: none;
}

.gallery_nav_button:hover {
    background-color: black;
    color: white;
}

.gallery_active_button {
    background-color: black;
    color: white;
    height: fit-content;
    padding: 0.7rem;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    height: 20rem;
    overflow-y: auto;
    background-color: var(--complementary);
    border: 1px solid black;
    padding: 0.5rem;
}

.small_image {
    width: 150px;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#zoom_curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1000;
}
  
#zoom_curtain.zoom_active {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#zoom_container {
    position: relative;
    width: 80%;
    height: auto;
    background-color: var(--complementary, #2b2b2b);
    border-radius: 10px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#zoom_close {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}
  
#zoom_close button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

#zoom_close button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

#zoom_image_area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
  
#zoom_image img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    border-radius: 6px;
    z-index: 2;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: white;
    padding: 0.4rem 0.9rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, transform 0.1s;
    z-index: 3;
}
  
.arrow.left {
    left: -3rem;
    color: black;
}
  
.arrow.right {
    right: -3rem;
    color: black;
}
  
.arrow:hover {
    transform: translateY(-50%) scale(1.1);
}
  



/* pokud bude sirka mensi nez 950 px tak se gallery vytvori overflow na x osu */
@media  screen and (max-width: 1000px) {
    #gallery {
        gap: 0.5rem;
    }
}

/* overflow u tlacitek se projevuje pri rozliseni 850px na sirku a mensi */
@media screen and (max-width: 850px) {
    .gallery_nav_button {
        height: 3.5rem;
    }
}