/* gallery */
#gallery_nav_bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.gallery_nav_button {
    font-size: 70%;
    margin-right: 1rem;
    height: fit-content;
    width: fit-content;
    padding: 0.7rem;
    border-radius: 15px;
    background-color: var(--complementary);
    border: none;
}

.gallery_nav_button:hover {
    background-color: black;
    color: white;
}

.gallery_active_button {
    background-color: black;
    color: white;
    height: fit-content;
    padding: 0.7rem;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    height: 20rem;
    overflow-y: auto;
    background-color: var(--complementary);
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
}

.small_image {
    width: 10rem;
    height: 10rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    object-fit: cover;
}


  
#zoom {
    height: 100%;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
  
.top_padding {
    padding-top: 5rem;
}

#zoom_image {
    height: fit-content;
    align-self: center;
}
  
#zoom_image img {
    max-width: 100%;
    max-height: 60vh;
    z-index: 2;
}

.arrow {
    margin: auto;
    font-size: 2.5rem;
    color: white;
    padding: 0.4rem 0.9rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, transform 0.1s;
    z-index: 3;
}
  
.arrow.left {
    left: -3rem;
    color: black;
    margin-left: 3rem;
}

.arrow.left::hover {
    transform: translate(-3);
}
  
.arrow.right {
    margin-right: 3rem;
    right: -3rem;
    color: black;
}

.arrow.right::hover {
    transform: translate(3);
}




@media screen and (max-width: 1000px) {
    .top_padding {
        padding-top: 15%;
    }

    #gallery_nav_bar {
        flex-wrap: wrap;
        gap: 1rem 0;
    }
    
    #zoom_image img {
       width: 100%;
       height: auto;
   }
   
   .arrow.right {
       margin-right: 0;
   }
   .arrow.left {
       margin-left: 0;
   }
}
  
/* pokud bude sirka mensi nez 950 px tak se gallery vytvori overflow na x osu */
@media  screen and (max-width: 1000px) {
    #gallery {
        gap: 0.5rem;
    }
}
