#zoom_div_container {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: calc(100% - 6rem);
    background-color: color-mix(in srgb, var(--complementary), transparent 20%);
    margin: 3rem 9rem;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    display: none;
}

#zoom_div_container  h2 {
    font-size: 250%;
    padding: 0.5rem;
    margin: 1rem 10rem;
    border-radius: 5rem;
    text-align: center;
    max-height: 100%;

    background-color: var(--IA);
    flex: 0;


}

#zoom {
    display: flex;
    flex-direction: row;
    background-color: var(--complementary);
    border-radius: 15px;
    margin: 1rem;
    max-height: 100%;
    min-height: 0;
}

#zoom_svg {
    margin: 1rem;
    justify-self: baseline;
    aspect-ratio: 1/1;
    width: 50%;
    flex: none;
}

#zoom_names {
    flex: 1;
    padding-left: 1rem;
    overflow-y: auto;
    font-size: 150%;
    line-height: 2rem;
}

/* #zoom_names > a::after {
    position: relative;

    content: "→";
    margin-left: 8px;
} */

#zoom_div_container .hamburger {
    right: 1rem;
    top: 1rem;
}

@media screen and (max-width: 1000px) {
    #zoom_div_container {
        max-height: calc(100% - 2rem);
        margin: 1rem;
        font-size: 5vw;
    }
    
    #zoom_div_container h2 {
        font-size: 5vw;
        margin: 1rem 2rem;
    }

    #zoom_svg {
        height: 50%;
        width: auto;
    }
    
    #zoom {
        flex-direction: column;
    }
    
    #zoom_names {
        font-size: 4vw;
        line-height: 1.2em;
    }
}