html body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#no_internet_image{
    height: 15rem;
    width: 10rem;
}

div{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    height: 40%;
    width: 100%;
}

#footer_image{
    object-fit: fill;
    opacity: 0.7;
}