
:root {
    font-style: normal;
    font-family: "Crimson Text", serif;
    --complementary: #d9d9d9;
}

#table {
    margin-top: 3rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    border: 1px solid var(--complementary);
}

th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--complementary);
}

th:first-child {
    border-top-left-radius: 15px;
}
  
th:last-child {
    border-top-right-radius: 15px;
}
  
tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
  
tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

th {
    background-color: var(--eth);
}

@media screen and (max-width: 1000px) {
    #table {
        transform: translate(-1rem);
    }
  
}
