header {
    margin-top: 5rem;
}

#image_desc {
    text-align: center;
    font-size: x-large; 
    margin: 1rem;
}

section > div {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

section {
    padding: 1rem;
}

section:nth-child(2n) > div{
    flex-direction: row-reverse;
}

section .image {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 2rem;
    max-width: 50%;
    flex-shrink: 0;
    margin: auto;
    align-items: center;
}

section:nth-child(2n) .image{
    padding: 0 2rem 2rem 0;
}

.image img {
    width: 100%;
    height: auto;
}

.image h5,
#image_desc {
    font-weight: normal;
    font-style: italic;
}

h2 {
    padding-bottom: 2rem;
}


@media screen and (max-width: 1000px) {
    section .image {
        width: 100%;
        max-width: 100%;
        padding: 2rem !important;
    }
    section > #gallery {
        flex-direction: row;
    }
}
