header {
    margin-top: 5rem;
}


section > div {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

section {
    padding: 1rem;
}

section .image {
    padding: 3rem;
    width: 60%;
    flex-shrink: 0;
    margin: auto;
}

.image img {
    width: 100%;
    height: auto;
}

.image h5 {
    font-weight: normal;
    font-style: italic;
}

h2 {
    padding-bottom: 2rem;
}


@media screen and (max-width: 1000px) {
    section .image {
        width: 100%;
    }
    section > #gallery {
        flex-direction: row;
    }
    #zoom {
        flex-direction: row !important;
    }
}